@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-cust {
  background-color: red;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 800;
  border-radius: 10px;
  color: white;
}
